<app-navbar></app-navbar>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-8 my-5">
      <h3>Sign Up</h3>
      <form
        (ngSubmit)="registerForm.valid && register()"
        #registerForm="ngForm"
      >
        <div class="mb-3">
          <label class="form-label">UserName</label>
          <input
            type="text"
            class="form-control"
            autocomplete="off"
            name="username"
            [(ngModel)]="auth.username"
            #username="ngModel"
            required
            min="5"
          />
          <div class="form-text text-danger" *ngIf="username.invalid">
            This is a required field.
          </div>
        </div>
        <div class="mb-3">
          <label class="form-label">Password</label>
          <input
            type="password"
            class="form-control"
            autocomplete="off"
            name="password"
            [(ngModel)]="auth.password"
            #password="ngModel"
            required
            min="5"
          />
          <div class="form-text text-danger" *ngIf="password.invalid">
            This is a required field.
          </div>
        </div>
        <p class="my-2">
          Already have an account? Click <a href="/login">here</a>
        </p>
        <button
          type="submit"
          class="w-100 btn btn-primary"
          [disabled]="registerForm.invalid"
        >
          Sign Up
        </button>
      </form>
    </div>
  </div>
</div>