<app-navbar></app-navbar>

<div class="container">
  <div class="row my-4">
    <div class="col-md-12">
      <div
        class="row g-0 border flex-md-row mb-4 shadow-sm h-md-250 postion-relative"
      >
        <div class="col p-4 d-flex flex-column">
          <img src="{{ post.image }}" class="img-fluid" alt="Image" />
          <h3 class="my-2">{{ post.title }}</h3>
          <p class="card-text mb-auto">
            {{ post.content }}
          </p>
        </div>
      </div>
    </div>
  </div>
</div>